<html>
  <head>
    <title>{% if title %}{{title}} -{% else %}Welcome to{% endif%} microblog</title
  </head>
  <body>
    <div>Microblog:
      <a href="{{url_for('index')}}">Home</a>
      {% if g.user.is_authenticated() %}
      | <a href="{{url_for('user', nickname = g.user.nickname)}}">Your profile</a>
      | <a href="{{url_for('logout')}}">Logout</a>
      {% else %}
      | <a href="{{url_for('login')}}">Sign In</a>
      {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{message}}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content%}{% endblock %}
  </body>
</html>
