{% extends "base.html" %}

{% block content %}
  <table>
    <tr valign="top">
      <td><img src="{{user.avatar(128)}}"></td>
      <td>
        <h1>User: {{user.nickname}}!</h1>
        {% if user.about_me %}<p>{{user.about_me}}</p>{% endif %}
        {% if user.last_seen %}<p><i>last seen: {{user.last_seen.strftime('%d/%m/%Y %H:%M:%S')}}</i></p>{% endif %}
        {% if g.user.id == user.id %}<p><a href="{{url_for('edit')}}">Edit</a></p>{% endif %}
      </td>
    </tr>
  </table>
<hr>
{% for post in user.posts %}
<p>
  {{post.author.nickname}} says: <b>{{post.body}}</b>
</p>
{% endfor %}
{% endblock %}
